<div class="container-lg">
        <section>
            <div class="row">
                <div class="col-sm-2"></div>

                <div class="col-sm-8 my-4 mx-2 card">
                    <div class="card-header mb-3 text-dark">  
                        <h5>Add Deal!</h5>
                    </div>

                    <div class="card-body text-dark deal-text">
                        <form action="/update_deals" method="post">
                            <div class="theShops mx-4 mt-1 mb-4">
                                    <select name="shops" class="mt-1 p-1" id="">
                                        <option value="">Select shop</option>
                                        {{#each theShops}}
                                            <option value="{{id}}">{{name}}</option>
                                        {{/each}}
                                    </select> 
                            </div>

                            <div class="m-3">
                                <label for="quantity">Quantity:</label>
                                <input type="number" name="quantity">
                            </div>

                            <div class="m-3">
                                <label for="price">Price:</label>
                                <input type="text" name="price">
                            </div>

                            <div class="mt-4 mb-2">
                                <button class="btn btn-dark" type="submit">Add Deal</button>
                            </div>
                        </form>

                        <div class="home-link">
                            <a href="/">Home</a>
                        </div>

                    </div>
                </div>

                <div class="col-sm-2"></div>
            </div>

        </section>
</div>
