 
     <div class="container-lg">
        <section>
             <div class="row">
                <div class="col-md-3 my-4 mx-3 card bg-dark filter">
                    <div class="card-header text-white">
                        <h5>Shops</h5>
                    </div>
                    <div class="card-body text-white">

                        <img class="img-fluid big-icon" src="/fruit-shop.png" alt="shop">
        
                        
                    </div>
                </div>
                

                <div class="col-md-8 my-4 card">
                    <div class="card-header mb-2">
                        <h5 class="text-dark">Top 5 Deals!</h5>
                    </div>

                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Id</th>
                                    <th>Deal</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each selectedShopDeals}}
                                <tr>
                                    <td><img class="avo-icon" src="/avocado.png" alt="Avo logo"></td>
                                    <td>{{id}}</td>
                                    <td>{{qty}} for R{{price}}</td>
                                    
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>

                        <div class="home-link">
                            <a href="/">Home</a>
                        </div>
                       
                    </div>
                </div>

                <div class="col-md-1"></div>

            </div>
            

        </section>


    </div>
